<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css" charset="utf-8">
</head>

<!-- SCRIPTS ARE HERE -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="app.js"></script>


<body ng-app="myApp" ng-controller="myControler" ng-init="myColor='#DDD';rate=3.84;quantity=1">

    <div style="background:{{myColor}}">
        <h2>
            Set this section background color.
        </h2>
        <input type="text" value="{{myColor}}" ng-model="myColor">
        <p>
            The ng-model directive binds the value of HTML controls (input, select, textarea) to application data.
        </p>
    </div>

    <div>
        <h2>
            Dollars to PLNs.
          </h2>
        <h5>
          The rate is {{rate}}.<br>
        </h5>

        <input type="number" ng-model="quantity">

        <p>
            {{quantity}}$ is {{result()}}PLN.
        </p>
    </div>

</body>

</html>
